<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty
            scope="context"
            name="ACTIVE_PROFILES"
            source="spring.profiles.active"
            defaultValue="default"/>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <arguments/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <exclude>^sun\.reflect\..*\.invoke</exclude>
                        <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "forum",
                        "thread": "%thread",
                        "logger": "%logger",
                        "environment": "${ACTIVE_PROFILES}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>
    <springProfile name="staging, production">
        <logger name="io.rafaelribeiro" additivity="false" level="INFO">
            <appender-ref ref="json"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="json"/>
        </root>
    </springProfile>
    <springProfile name="local, test, default">
        <logger name="io.rafaelribeiro" additivity="false" level="INFO">
            <appender-ref ref="console"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>
